.App {
	text-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../images/background.jpg");
	background-position: center center;
}

@media screen and (max-width: 576px) {
	.App {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden;
	}
}
