@import "variables";

.App {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url($background-image-url);
	background-position: center center;
	overflow: hidden;
}

@media screen and (max-width: map-get($w-breakpoints, small)) {
	.App {
		background-attachment: fixed;
		background-position: center center;
	}
}

$l-min: map-get($w-breakpoints, landscape-min);
$l-max: map-get($w-breakpoints, landscape-max);
$t-default: map-get($h-breakpoints, tablet-default);
$t-max: map-get($h-breakpoints, tablet-max);
$t-min: map-get($h-breakpoints, tablet-min);

@media screen and (max-height: $t-default) and (min-width: $l-min) and (max-width: $l-max) {
	.App {
		overflow: scroll;
		height: 140vw;
	}
}

@media screen and (min-height: $t-min) and (max-height: $t-max) {
	.App {
		zoom: 0.75;
		height: 133vh;
	}
}
