@import "variables";
@import "buttons";

.GameForm {
	width: 30vw;
	height: 50vh;

	h1 {
		font-size: 2.5rem;
	}

	.GameForm-error-alert {
		color: map-get($colors, red);
		font-size: 1.25rem;
		font-weight: bold;
	}

	.GameForm-input {
		text-align: center;
		display: block;
		height: 30px;
		background: none;
		border: none;
		font-size: 2rem;
		border-bottom: 4px solid map-get($colors, black);
		outline: none;
		padding: 5px;
		margin-top: 40px;
		width: 98.2%;
		color: map-get($colors, black);
		font-family: map-get($fonts, familiy);
		font-weight: bold;
	}

	.GameForm-button {
		@include success-button(100%);
		margin: 40px auto;
	}

	.GameForm-button:hover {
		@extend %success-button-hover;
	}
}

@media screen and (max-width: 1024px) {
	.GameForm {
		width: 100%;
		height: 70vh;
		h1 {
			font-size: 2rem;
		}
		.GameForm-input {
			width: 90%;
			margin: 40px auto;
		}
		.GameForm-button {
			width: 100%;
		}
	}
}
