@import 'variables';

.Hangman {
	width: 400px;
	color: $color-black;
	text-align: center;
	zoom: 1.3;

	.Hangman-game {
		h1 {
			font-size: 4rem;
			font-weight: 100;
			margin-bottom: 0.1em;
			margin-top: 0;
		}

		img {
			border: 10px solid $color-white;
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
				0 0 40px rgba(0, 0, 0, 0.06) inset;
		}

		.Hangman-word {
			letter-spacing: 1em;
			margin: 0.4em -1em 0.2em 0;
			font-size: 2rem;
		}

		@media screen and (max-width: 576px) {
			h1 {
				font-size: 3rem;
			}
			img {
				width: 150px;
			}
			.Hangman-word {
				letter-spacing: 1em;
				font-size: 1.25rem;
			}
			.Hangman-label,
			.Hangman-restart-btn {
				font-size: 1.25rem !important;
			}

			@media screen and (max-height: map-get($map: $h-breakpoints, $key: medium)) {
				img {
					width: 125px;
				}
				.Hangman-word {
					letter-spacing: 0.75em;
					font-size: 1.25rem;
				}
			}

			@media screen and (max-height: map-get($map: $h-breakpoints, $key: small)) {
				img {
					width: 100px;
				}
				.Hangman-word {
					letter-spacing: 0.5em;
					font-size: 1rem;
				}
			}
		}

		.Hangman-label {
			font-size: 1rem;
		}

		.Hangman-btns {
			text-align: center;
			display: inline-block;
			width: 250px;
			margin-top: 0;
		}

		button {
			border: none;
			font-family: inherit;
			cursor: pointer;
			margin: 5px 2px 2px 2px;
			letter-spacing: 1px;
			outline: none;
			color: map-get($map: $disabled-btn-colors, $key: color);
			border-radius: 5px;
			padding-top: 4px;
			transition: $standard-btn-transition;
		}

		.Hangman-letter-btn {
			font-size: 1rem;
			width: 30px;
			color: map-get($map: $letter-btn-colors, $key: color);
			background-color: map-get($map: $letter-btn-colors, $key: background);
			box-shadow: 0 6px map-get($map: $letter-btn-colors, $key: shadow);
		}

		.Hangman-letter-btn:hover {
			color: map-get($map: $letter-btn-colors, $key: color-hover);
			background-color: map-get($map: $letter-btn-colors, $key: shadow);
		}

		.Hangman-letter-btn:disabled {
			background-color: map-get($map: $disabled-btn-colors, $key: background);
			color: map-get($map: $disabled-btn-colors, $key: color);
			box-shadow: 0 6px map-get($map: $disabled-btn-colors, $key: shadow);
		}

		.Hangman-restart-btn {
			font-size: 1.5rem;
			width: 245px;
			color: map-get($map: $restart-btn-colors, $key: color);
			background-color: map-get($map: $restart-btn-colors, $key: background);
			box-shadow: 0 6px map-get($map: $restart-btn-colors, $key: shadow);
		}

		.Hangman-restart-btn:hover {
			background-color: map-get($map: $restart-btn-colors, $key: shadow);
			color: map-get($map: $restart-btn-colors, $key: color-hover);
		}
	}

	.Hangman-error {
		.Error-heading {
			color: map-get($map: $colors, $key: red);
			font-size: 6rem;
		}

		.Error-message {
			font-size: 2rem;
		}

		.Error-cause {
			font-size: 1.5rem;
		}
	}
}
