@import "https://fonts.googleapis.com/css?family=Coming+Soon";

// palettes

$colors: (
	black: #50514f,
	red: #f25f5c,
	yellow: #ffe066,
	blue: #247ba0,
	green: #70c1b3,
	white-1: #fff,
	white-2: #e9ecef,
	grey-1: #6c757d,
	grey-2: #495057,
	grey-3: #9e9e9e
);

// breakpoints

$w-breakpoints: (small: 576px, landscape-max: 850px, landscape-min: 425px);
$h-breakpoints: (small: 700px, medium: 812px, tablet-default: 420px);

// colors

$body-backgound: #f3f4ee;
$color-white: map-get($map: $colors, $key: white-1);
$color-black: map-get($map: $colors, $key: black);

$disabled-btn-colors: (
	color: map-get($map: $colors, $key: white-1),
	background: map-get($map: $colors, $key: grey-3),
	shadow: map-get($map: $colors, $key: grey-2)
);

$letter-btn-colors: (
	background: map-get($map: $colors, $key: yellow),
	shadow: map-get($map: $colors, $key: red),
	color: map-get($map: $colors, $key: black),
	color-hover: map-get($map: $colors, $key: white-1)
);

$restart-btn-colors: (
	background: map-get($map: $colors, $key: green),
	shadow: map-get($map: $colors, $key: blue),
	color: map-get($map: $colors, $key: grey-2),
	color-hover: map-get($map: $colors, $key: white-2)
);

// images

$background-image-url: "../../images/background.jpg";

// fonts

$fonts: (familiy: "Coming Soon");

// animations

$standard-btn-transition: all 100ms 50ms linear;
